<div class="book-filter-bar ">
  Find me the best
  <div class="form-control">
    <select class="select-styled" [ngModel]="selectedCategories" (ngModelChange)="onChangeCategories($event)" name="select-categories">
      <option *ngFor="let opt of listCategories" [ngValue]="opt">
        {{opt}}
      </option>
    </select>
  </div>

  books about
  <div class="form-control form-control--select-genre">
    <select class="select-styled" [(ngModel)]="selectedGenre" (ngModelChange)="onChangeGenre($event)" name="select-genre">
      <option value="all" selected> All </option>
      <option *ngFor="let opt of listGenre" [ngValue]="opt" >
        {{opt}}
      </option>
    </select>
  </div>
  <div class="or visible-sm is-hidden-md"> OR </div>
  <div class="form-control form-control--input-text pull-right">
    <label class="label block is-hidden-md" for="query">Search for a Books Title or Author</label>
    <div class="input-group">
      <input id="query" class=" input-text-styled" type="text" [(ngModel)]="queryBooks" (ngModelChange)="onChangeQuery($event)" placeholder="Search a Books">
      <img class="input-ico-right" src="assets/search.svg" alt="">
    </div>
    <div class="info ">
      <input class="small" type="checkbox"  [(ngModel)]="allBooks" (ngModelChange)="onChangeLibrary($event)" id="allBooks" name="allBooks" checked><label for="allBooks">search the entire library</label>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

