<div class="book-filter-bar">
  Find me the best
  <div class="form-control">
    <select class="select-styled" [ngModel]="selectedCategories" (ngModelChange)="onChangeCategories($event)" name="select-categories">
      <option *ngFor="let opt of listCategories" [value]="opt">
        {{opt}}
      </option>
    </select>
  </div>

  books about
  <div class="form-control">
    <select class="select-styled" [ngModel]="selectedGenre" (ngModelChange)="onChangeGenre($event)" name="select-genre">
      <option value="all" selected> All </option>
      <option *ngFor="let opt of listGenre" [value]="opt">
        {{opt}}
      </option>
    </select>
  </div>
  <div class="form-control pull-right">
    <input class=" input-text-styled" type="text" [(ngModel)]="queryBooks" (ngModelChange)="onChangeQuery($event)" placeholder="Search Books">
    <img class="input-ico-right" src="assets/search.svg" alt="">

    <div class="info">
      <input class="small" type="checkbox"  [(ngModel)]="allBooks" (ngModelChange)="onChangeLibrary($event)" id="allBooks" name="allBooks" checked><label for="allBooks">search the entire library</label>
    </div>
  </div>

</div>

