
<app-book-filter-bar *ngIf="books"
                     [listCategories]="listCategories"
                     [listGenre]="listGenre"
                     (onChangedCategories)="onChangedCategories($event)"
                     (onChangedGenre)="onChangedGenres($event)"
                     (onChangedQuery)="onChangedQueryBook($event)"
                     (onChangedLibrary)="onChangedLibrarySearch($event)"
></app-book-filter-bar>

<div class="book-list row">
  <div class="col-sm-4 col-xs-12" *ngFor="let book of books |
       filterBooksCategory:selectedCategories  |
       filterBooksGenre:selectedGenre |
       filterBooksSearch:{'books':books,'queryBooks':queryBooks,'searchInAllBook':searchInAllBook} |
       filterBooksCount:filteredCount
  "  >

    <app-book-card [book]="book"></app-book-card>

  </div>
</div>

<app-loading *ngIf="loading"></app-loading>
<div *ngIf="filteredCount?.count === 0 && !loading" class="no-result">
  No results!
</div>
<div class="hidden">count: {{filteredCount?.count}} {{selectedCategories}} {{selectedGenre}}</div>
