/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&subset=latin-ext');

:root {
  /*COLORS*/
  --main-bg-color: #F7F2EE;

  --primary-color: #75971A;

  --main-text-color: #000;

  /*FONT*/
  --main-font-family: 'Merriweather', serif;

  /*UI*/
  --border-radius: 5px;
  --padding: 20px;

  /*BUTTONS*/
  --btn-padding: 20px;

  /*MAIN CONTAINER*/
  --margin-top: -60px;
}


body {
  font-family: var(--main-font-family);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding:0;
  margin: 0;
}

a {
  color: var(--main-text-color);
}

a.primary {
  color: var(--primary-color);
}

a.no-underline {
  text-decoration: none;
}

.main-container,
.secondary-container {
  margin-top: var(--margin-top);
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: var(--padding);
  min-height: 200px;
  position: relative;
  max-width: 1024px;

}

.secondary-container {
  margin-top: 0;
}


.color-primary {
  color: var(--primary-color);
}

/*FORMS*/
.select-styled {
  line-height: 34px;
  text-indent: 10px;
  /* padding: 20px; padding doesn't work in selector on mobile devices  - Webkit has taken it upon itself to disallow padding */
  border: 1px solid #e6e6e6;
  font-size: 16px;
  height: 34px;
  width: 100%;
  background-color: #fff;


}

.form-control {
  position: relative;
}

.input-group {
  position: relative;
}

.input-text-styled {
  font-family: var(--main-font-family);
  border: 1px solid #e6e6e6;
  font-size: 16px;
  height: 34px;
  width: 100%;
  background-color: #fff;
  padding: 0 10px;
  border-radius: var(--border-radius);
  position: relative;
  box-sizing: border-box;
}
.input-ico-right {
  font-family: var(--main-font-family);
  position: absolute;
  width: 16px;
  height: 16px;
  top: 7px;
  right: 10px;
}

.label.block {
  margin-bottom: 10px;
  display: block;
}


/* AUX */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.img-rounded {
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  .is-hidden-md {
    display: none !important;
  }
}

/*Loading */
@import 'app/shared/loading/loading.component.css';
